@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap");
/* TODO VARIABLE NAMES FOR FONT WEIGHT AND SIZE */
:root {
  /* color */
  --grey: #5a716c;
  --silver: #a7b6af;
  --dark-green: #415853;
  --white: #ffffff;
  --yellow: #c9a479;
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  /* Font size */
  --xxxl: 6rem;
  --xxl: 5.5rem;
  --xl: 5rem;
  --large: 3.8rem;
  --medium: 2.8rem;
  --medium-responsive: 2.4rem;
  --small: 1.4rem;
  --extrasmall: 1.1rem;
  /* font weight */
  --extrabold: 900;
  --bold: 700;
  --regular: 500;
  --thin: 100;
  /* Mobile Device */
  --W_1080: 1080px;
}

.heading-first {
  font-size: var(--xxxl);
  font-weight: var(--thin);
  font-family: var(--poppins);
  color: var(--white);
}

.heading-second {
  font-size: var(--xxxl);
  font-weight: var(--bold);
  font-family: var(--poppins);
  color: var(--yellow);
}

.container {
  height: fit-content;
  font-family: var(--poppins);
  padding: 5% 17%;
  line-height: 1.2;
}
.app-container {
  background-color: var(--grey);
  width: 100%;
}
@media (max-width: 1080px) {
  .app-container {
    width: fit-content;
  }
  .container {
    width: min-content;
    height: fit-content;
    font-family: var(--poppins);
    padding: 5% 3%;
    line-height: 1.2;
    margin: 10px;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ********************************************** */
/*  *************** NAVBAR SECTION *************** */
/* ********************************************** */
.navbar-main {
  height: 4rem;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-items li > a {
  font-size: var(--extrasmall);
  font-weight: var(--bold);
  font-family: var(--lato);
  color: var(--dark-green);
}

.navbar-item-active > a {
  color: var(--white) !important;
  background-color: var(--dark-green);
  padding: 0.35rem 0.95rem;
  border-radius: 42.82px;
}

.navbar-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-items ul li {
  padding: 2% 2% 1% 2%;
  display: flex;
  flex-direction: row-reverse;
  /* padding: 2%; */
  margin: 3% 8%;
}
.navbar-item-active {
  position: relative;
  top: -0.3rem;
}
#navbar-item-div {
  position: relative;
  width: 0.6rem;
  margin: 0.6rem 0.6rem;
  border-radius: 3.0387rem;
  background-color: var(--yellow);
  height: 80%;
  top: -0.4rem;
}
.navbar-social ul li {
  margin: 0.9rem 2rem;
}

.navbar-social ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar-social-image {
  width: 2.2rem;
}

@media (max-width: 1340px) {
  .navbar-main {
    justify-content: space-evenly;
  }
}
@media (max-width: 1080px) {
  .navbar-main {
    display: none;
  }
}

/* ********************************************** */
/*  *************** NAVBAR MOBILE SECTION *************** */
/* ********************************************** */
.navbarM-main {
  height: 7rem;
  background-color: var(--white);
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 1080px) {
  .navbarM-main {
    display: flex;
  }
}
.navbarM-main > button {
  border: none;
  width: 6rem;
  background-color: var(--white);
}

.navbarM-items {
  position: absolute;
  display: none;
  margin-top: 7rem;
  height: 5rem;
  width: 50%;
  left: 0;
}

.navbarM-items li {
  background-color: var(--white);
}
.navbarM-items li > a {
  font-size: var(--extrasmall);
  font-weight: var(--bold);
  font-family: var(--lato);
  padding: 0.95rem 0.95rem;
  color: var(--dark-green);
}

.navbarM-item-active li {
  font-size: var(--small);
  font-weight: var(--bold);
  font-family: var(--lato);
  color: var(--white) !important;
  background-color: var(--dark-green) !important;
}

.navbarM-items ul {
  display: flex;
  flex-direction: column;
}

.navbarM-items ul li {
  padding: 2rem 1rem;
  cursor: pointer;
}
.navbarM-social ul li {
  margin: 2.2rem 2rem;
}

.navbarM-social ul {
  display: flex;
  flex-direction: row;
}

.navbarM-social-image {
  width: 2.2rem;
}
/* ********************************************** */
/*  *************** INTRO SECTION *************** */
/* ********************************************** */
.intro-section-container {
  margin-top: -1.5rem;
}
.intro-section-main {
  display: flex;
  justify-content: space-between;
}

.intro-section-main img {
  aspect-ratio: attr(width) / attr(height);
}

.intro-section-main-text {
  padding-top: 10.5rem;
  font-family: var(--poppins);
}
.intro-section-hey {
  font-size: var(--xl);
  font-weight: var(--thin);
  color: var(--white);
  line-height: 80%;
}

.intro-section-dion {
  font-size: var(--xxl);
  font-weight: var(--extrabold);
  color: var(--yellow);
}
.intro-section-pharm {
  font-size: var(--medium);
  font-weight: var(--regular);
  color: var(--silver);
  line-height: 100%;
}

.intro-section-about {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
  line-height: 200%;
  margin-top: -10px;
}

.intro-section-about-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro-section-button {
  background-color: var(--yellow);
  color: var(--white);
  font-size: var(--extrasmall);
  border-radius: 0.5387rem;
  border: none;
  width: 6.625rem;
  height: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .intro-section-container {
    width: unset;
    margin-top: 5rem;
    scroll-margin-top: 3rem;
  }

  .intro-section-about {
    margin-top: 0;
  }
  .intro-section-hey {
    font-size: var(--large);
  }

  .intro-section-dion {
    font-size: var(--xl);
  }
  .intro-section-pharm {
    font-size: var(--medium-responsive);
  }
}

/* ********************************************** */
/*  *************** QUALIFICATION SECTION *************** */
/* ********************************************** */
.qualification-main {
  margin-bottom: 20px;
}

@media (max-width: 1080px) {
  .qualification-main {
    width: 75%;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}
.qualification-title {
  font-size: var(--xl);
  font-weight: var(--bold);
  color: var(--silver);
}

ul.qualification-pointers {
  color: var(--yellow);
  list-style: none;
  margin-left: 2rem;
  margin-top: 2rem;
}

ul.qualification-pointers li {
  color: var(--white);
  line-height: 3.1688rem;
  text-indent: -1.45rem;
}

ul.qualification-pointers li::before {
  content: url("https://img.icons8.com/ios-filled/10/c9a479/360-degrees.png");
  color: var(--yellow);
  size: 2rem;
  margin-right: 0.7312rem;
}

ul.qualification-point li {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--silver);
}

ul.qualification-point li > span {
  font-weight: var(--regular);
}

/* ********************************************** */
/*  *************** PUBLICATION SECTION *************** */
/* ********************************************** */

.publication-main {
  background-color: var(--dark-green);
  height: fit-content;
  border-radius: 7.9287rem;
  margin: 6.5625rem 12rem;
  padding: 5% 8%;
}

@media (max-width: 1080px) {
  .publication-main {
    width: unset;
    background-color: var(--dark-green);
    height: fit-content;
    border-radius: 7.9287rem;
    margin: 10px;
    margin-top: 160px;
    padding: 5% 10%;
    scroll-margin-top: 15rem;
  }
}
.publication-title {
  margin-bottom: 6.9375rem;
}
.publication-title-my {
}

.publication-title-publications {
}

.publication-content-name p::first-line {
  font-weight: var(--bold);
}

.publication-content-item {
  display: flex;
  flex-direction: row;
}
.publication-highlight-container {
  min-width: 1rem;
  width: 0.5rem;
  margin: 0.5rem 1rem 4rem 0;
  border-radius: 2.6763rem;
}
.publication-highlight {
  background-color: var(--yellow);
  transition: background-color 1s ease-in;
}

.publication-content-name {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
}

.publication-content-button {
  border-radius: 0.5387rem;
  background-color: var(--silver);
  border: none;
  width: 8.625rem;
  height: 3rem;
  margin-bottom: 2rem;
}
.publication-content-button a {
  color: var(--white);
  font-size: var(--extrasmall);
}
.publication-content-button a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ********************************************** */
/*  *************** SKILL SECTION *************** */
/* ********************************************** */
.skill-main {
  background-color: var(--dark-green);
  padding-bottom: 6.25rem;
  padding-left: 20%;
}

@media (max-width: 1080px) {
  .skill-main {
    width: unset;
    padding: 2rem 10% 6.25rem 10%;
    margin: 6.25rem 0;
    scroll-margin-top: 3rem;
  }
}
.skill-main-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 4.25rem;
}

.skill-title {
  margin-top: 3rem;
  margin-bottom: 8.5rem;
}
.skill-main-item-image {
  margin-right: 4.25rem;
}
.skill-main-item-text {
  display: flex;
  flex-direction: column;
}
.skill-main-item-title {
  font-size: var(--large);
  font-weight: var(--bold);
  font-family: var(--poppins);
  color: var(--white);
  margin-bottom: 0.8125rem;
}
.skill-main-item-detail {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
}
/* ********************************************** */
/*  *************** EXPERIENCE SECTION *************** */
/* ********************************************** */

.experience-main {
  margin-top: 4rem;
}

.experience-main-text {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
  margin-top: 3.125rem;
  line-height: 2.9769rem;
}

.experience-main-detail {
  background-color: var(--dark-green);
  height: fit-content;
  border-radius: 7.9287rem;
  margin: 105px 104px;
  padding: 90px 78px 50px 158px;
}

.experience-main-detail-item {
  margin-bottom: 6.4375rem;
}
.highlight-section {
  display: flex;
  flex-direction: row;
}
.experience-highlight-container {
  min-width: 1rem;
  width: 0.5rem;
  margin: 0.5rem 1rem 0 0;
  border-radius: 2.6763rem;
}
.experience-highlight {
  background-color: var(--yellow);
  transition: background-color 1s ease-in;
}
.experience-main-detail-item-year {
  font-size: var(--medium);
  font-weight: var(--bold);
  font-family: var(--poppins);
  color: var(--yellow);
  margin-bottom: 2rem;
}

.experience-main-detail-item-title {
  font-size: var(--small);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
}
.experience-main-detail-item-button {
  font-size: var(--extrasmall);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
  border-radius: 7.9287rem;
  border: none;
  background-color: var(--grey);
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
.experience-main-detail-item-see-more {
  margin-left: 2rem;
}
.experience-main-detail-item-button > img {
  margin-left: 0.2rem;
}
.experience-main-detail-item-see-more > h5 {
  font-size: var(--small);
  font-weight: var(--regular);
  font-family: var(--lato);
  color: var(--yellow);
}
.experience-main-detail-item-skills {
  font-size: var(--extrasmall);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
}

.experience-main-detail-item-contributions {
  font-size: var(--extrasmall);
  font-weight: var(--thin);
  font-family: var(--lato);
  color: var(--white);
  text-align: justify;
}
.experience-main-detail-item-contributions > li {
  text-indent: -1.5rem;
  margin: 2rem 1.5rem;
}

@media (max-width: 1080px) {
  #experience {
    scroll-margin-top: 9rem;
  }
  .experience-main {
    width: unset;
  }

  .experience-main-detail {
    width: unset;
    padding: 50px;
    margin: 20px;
  }

  .experience-main-detail-item-contributions > li {
    text-indent: 0rem;
    margin: 2rem 1.5rem;
  }
}
/* ********************************************** */
/*  *************** FOOTER SECTION *************** */
/* ********************************************** */
.footer-main,
.footer-connect {
  margin-top: 4rem;
}
.footer-connect-email {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-connect-email img {
  margin: 1rem;
}
.footer-connect-email-text {
  font-size: var(--small);
  font-weight: 600;
  font-family: var(--lato);
  color: var(--white);
  margin-left: 2rem;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0 5rem 0;
}

.footer-quote {
  background-color: var(--dark-green);
  height: fit-content;
  border-radius: 7.9287rem 7.9287rem 0 0;
  padding: 150px 201px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-quote-img {
  display: flex;
  justify-content: center;
}

.footer-quote-text {
  font-size: var(--xl);
  font-weight: var(--extrabold);
  font-family: var(--lato);
  margin-bottom: 4rem;
  text-align: center;
  color: var(--silver);
}

.footer-quote-author {
  font-size: var(--large);
  font-weight: var(--regular);
  font-family: var(--lato);
  color: var(--silver);
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 1080px) {
  .footer-main {
    width: unset;
  }

  .footer-quote {
    width: unset;
    margin: 0;
    padding: 50px;
  }
}
